<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créditos</title>
    <link  rel="icon"  href="../statics/Images/kikiSpriteV1.png" type="image/png" />
    <link rel="stylesheet" href="../libs/bootstrap-5.0.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="../statics/styles/index.css">
    <link rel="stylesheet" href="../statics/styles/creditos.css">
</head>
<body id="body">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">NaNtendo</a>
                <button class="navbar-toggler" type="button" id="boton"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" tabindex="0" href="./menu.html">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" tabindex="0" href="./puntajes.html">Puntajes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" tabindex="0" href="#">Créditos</a>
              </li>
            </ul>
            <form class="d-flex"></form>
            </form>
          </div>
        </div>
      </nav>
      <br><br>
      <h1>Creadores</h1>
      <div class="row">
        <h3>Hernández Huerta Diego Osmar:</h3> 
        <br><br><br><br>
        <br><br><br>
        <i>Creador de Doodle Jump</i>
        <i>Sprite de Kiki y plataformas</i>
        <br><br>
      </div>
      <div class="row">
        <h3>Juárez Salgado Eduardo Andreco:</h3>
        <br><br><br>
        <br><br><br>
        <i>Creador de Kiki vs Kori</i>
        <br><br>
      </div>
      <div class="row">
        <h3>Alfaro Domínguez Patricio:</h3> 
        <br><br><br>
        <br><br><br>
        <i>Diseño de la página</i>
        <i>Animación</i>
      </div>
      <div class="row">
        <h3>Con la colaboración de:</h3> 
        <br><br><br>
        <br><br><br>
        <i>Kiki</i>
        <i>kori</i>
      </div>
      <script src="../libs/bootstrap-5.0.1-dist/js/bootstrap.bundle.js"></script>
      <script src="../dynamics/Js/index.js"></script>
</body>
</html>